spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://localhost:5555/client
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    ignore-unsupported-database: true
    url: jdbc:postgresql://localhost:5555/client
    user: postgres
    password: postgres
    clean-disabled: true

  h2:
    console:
      enabled: true
    datasource:
      url: jdbc:h2:mem:testdb

server:
  port: 8081
